## Build output
**/target/

## Git
.git
.gitignore

## IDE directories and project files
.idea/
.vscode/
*.iml
*.ipr
*.iws

## Environment files
.env
.env-dev
.env.prod
.env-test

## Docker artifacts
compose.yaml

## Miscellaneous
backup
*.log
*.swp
